a{
    text-decoration: none;
    color: blue;
}
body{
    min-width: 1350px;
    min-height: 768px;
    min-height: 110vh;
    overflow: auto;
    background-color:  cornsilk;
}
.BorderBlock{
    border-style: solid;
    border-width: thin;
    width: 98%;
    word-wrap: break-word;
      margin-top: 1px;
}
.TitleCenter{
   font-weight: bold;
    background-color: burlywood;
    text-align: center;
}
#mainheader{
    background-color: burlywood;
    display: flex;
    flex-direction: row;
}
.MenuLink{
    display: block;
}
.LMR157015{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 1px;
}
.LMR157015 > div:nth-of-type(1) {
    width: 15%;
}
.LMR157015 > div:nth-of-type(2) {
    width: 70%;
}
.LMR157015  > div:nth-of-type(3) {
    width: 15%;
}
/* 

 

ul{
    list-style: none;
}

 .Container{
   
    width: 100%;
    height: 100%;
    margin-top: 7px;
    min-height: 90vh;
}
.Container .Nav{
    width: 14.8%;
}
.Container .Section{
    width: 70%;
}
.Container .Aside{
    width: 14.8%;
}
 .Title{
    
}*/