.HolyGrail {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
    background-color: cornsilk;
}
.HolyGrail header,
.HolyGrail footer {
  flex: none;
}

.HolyGrail-body {
  display: flex;
  flex: 1;
}

.HolyGrail-body nav, .HolyGrail-body aside{
   flex: 0 0 12em;
}


.HolyGrail-body nav{
   order: -1;
}
.HolyGrail-body main{
    flex: 1;
}
/*
https://philipwalton.github.io/solved-by-flexbox/demos/holy-grail/
*/